<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5001</p>
    <p>For one station for one date: http://127.0.0.1:5001/weather/10/2024-01-01</p>
    <p>For one station with all available dates: http://127.0.0.1:5001/weather/v1/10</p>
    <p>Available stations: http://127.0.0.1:5001/api/stations</p>
</body>
</html>